a {
  color: #007481;
}

.path-frontpage {
  font-family: "Open-Sans", sans-serif;
  margin-top: 0;
}

.path-frontpage .dialog-off-canvas-main-canvas header {
  min-height: 80px;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 100;
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  position: absolute;
}

.path-frontpage .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.path-frontpage .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation .logo {
  padding: 0;
  margin: 0;
  margin-right: 2em;
}

.path-frontpage .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation .logo img {
  width: 205px;
}

.path-frontpage .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation #block-wolontariat-main-menu .navbar-nav {
  margin-right: 14rem;
}

.path-frontpage .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation #block-wolontariat-main-menu .navbar-nav li a {
  color: #000;
  text-transform: uppercase;
  padding: 35px 25px 25px;
  font-size: 14px;
}

.path-frontpage .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation .search-block-form #search-block-form {
  height: 31px;
  float: right;
}

.path-frontpage .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation .search-block-form #search-block-form .form-item .input-group .form-search {
  width: 250px;
  border-radius: 0;
  display: none;
}

.path-frontpage .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation .search-block-form #search-block-form .form-item .input-group .input-group-btn .button {
  border-radius: 0;
  background-color: #007481;
}

.path-frontpage .dialog-off-canvas-main-canvas .region-banner .views-element-container .form-group .view-banner .view-content div .flex-control-paging {
  display: none;
}

.path-frontpage .dialog-off-canvas-main-canvas .region-banner .views-element-container .form-group .view-banner .view-content div .flex-direction-nav {
  display: none;
}

.path-frontpage .dialog-off-canvas-main-canvas .main-container {
  margin-bottom: 50px;
}

.path-frontpage .dialog-off-canvas-main-canvas .footer {
  font-size: 13px;
  line-height: 2.3;
  background: #1c2331;
  color: #fff;
  margin-top: 0;
}

.path-frontpage .dialog-off-canvas-main-canvas .footer .container .region-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.path-frontpage .dialog-off-canvas-main-canvas .footer .container .region-footer section {
  width: 33.3%;
}

.path-frontpage .dialog-off-canvas-main-canvas .footer .container .region-footer section h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.path-frontpage .dialog-off-canvas-main-canvas .footer .container .region-footer section .field--type-text-with-summary p {
  margin: 0;
}

.path-frontpage .dialog-off-canvas-main-canvas .footer .container .region-footer nav h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.path-frontpage .dialog-off-canvas-main-canvas .footer .container .region-footer nav ul > li > a {
  color: #fff;
  padding: 0 15px;
}

.path-frontpage .dialog-off-canvas-main-canvas .footer .container .region-footer nav ul > li > a:hover {
  text-decoration: underline;
  background-color: transparent;
}

.path-frontpage .dialog-off-canvas-main-canvas .footer-second {
  margin-top: 0;
  border-top: 0;
  padding: 10px;
  background-color: #0e131d;
  text-align: center;
}

.path-frontpage .dialog-off-canvas-main-canvas .footer-second .container .region-footer-second span, .path-frontpage .dialog-off-canvas-main-canvas .footer-second .container .region-footer-second a {
  color: #fff;
  font-size: 13px;
  line-height: 2.3;
}

.path-frontpage .dialog-off-canvas-main-canvas .footer-second .container .region-footer-second .block-copyright-block p {
  color: #fff;
  font-size: 13px;
  line-height: 2.3;
}

body {
  font-family: "Open-Sans", sans-serif;
  margin-top: 0;
}

body .dialog-off-canvas-main-canvas header {
  min-height: 80px;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 100;
  width: 100%;
  margin-bottom: 0;
  background-color: #f8f8f8;
}

body .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation .logo {
  padding: 0;
  margin: 0;
  margin-right: 2em;
}

body .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation .logo img {
  width: 205px;
}

body .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation #block-wolontariat-main-menu .navbar-nav {
  margin-right: 14rem;
}

body .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation #block-wolontariat-main-menu .navbar-nav li a {
  color: #000;
  text-transform: uppercase;
  padding: 35px 25px 25px;
  font-size: 14px;
}

body .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation .search-block-form #search-block-form {
  height: 31px;
  float: right;
}

body .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation .search-block-form #search-block-form .form-item .input-group .form-search {
  width: 250px;
  border-radius: 0;
  display: none;
}

body .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation .search-block-form #search-block-form .form-item .input-group .input-group-btn .button {
  border-radius: 0;
  background-color: #007481;
}

body .dialog-off-canvas-main-canvas .main-container {
  margin-bottom: 100px;
}

body .dialog-off-canvas-main-canvas .main-container .row section .region-content .page-header {
  margin: 40px 0 20px;
}

body .dialog-off-canvas-main-canvas .main-container .row section .region-content .views-element-container .view-lista-organizacji .view-header {
  margin: 2em 9em 3em 8em;
  font-size: 16px;
}

body .dialog-off-canvas-main-canvas .main-container .row section .region-content .views-element-container .view-id-aktualnosci .view-content .views-row article {
  display: inline-block;
  width: 100%;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 1em;
}

body .dialog-off-canvas-main-canvas .main-container .row section .region-content .views-element-container .view-id-aktualnosci .view-content .views-row article .content .list-inline .node-readmore {
  padding: 7px 30px;
  font-size: 13px;
  border-radius: 3px;
  text-transform: uppercase;
  background: transparent;
  color: #007481;
  white-space: nowrap;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.5px;
  border: 2px solid #007481;
  float: right;
}

body .dialog-off-canvas-main-canvas .main-container .row section .region-content .views-element-container .view-id-aktualnosci .view-content .views-row article .content .list-inline .comment-add {
  display: none;
}

body .dialog-off-canvas-main-canvas .footer {
  font-size: 13px;
  line-height: 2.3;
  background: #1c2331;
  color: #fff;
  margin-top: 0;
}

body .dialog-off-canvas-main-canvas .footer .container .region-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .dialog-off-canvas-main-canvas .footer .container .region-footer section {
  width: 33.3%;
}

body .dialog-off-canvas-main-canvas .footer .container .region-footer section h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

body .dialog-off-canvas-main-canvas .footer .container .region-footer section .field--type-text-with-summary p {
  margin: 0;
}

body .dialog-off-canvas-main-canvas .footer .container .region-footer nav h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

body .dialog-off-canvas-main-canvas .footer .container .region-footer nav ul > li > a {
  color: #fff;
  padding: 0 15px;
}

body .dialog-off-canvas-main-canvas .footer .container .region-footer nav ul > li > a:hover {
  text-decoration: underline;
  background-color: transparent;
}

body .dialog-off-canvas-main-canvas .footer-second {
  margin-top: 0;
  border-top: 0;
  padding: 10px;
  background-color: #0e131d;
  text-align: center;
}

body .dialog-off-canvas-main-canvas .footer-second .container .region-footer-second span, body .dialog-off-canvas-main-canvas .footer-second .container .region-footer-second a {
  color: #fff;
  font-size: 13px;
  line-height: 2.3;
}

body .dialog-off-canvas-main-canvas .footer-second .container .region-footer-second .block-copyright-block p {
  color: #fff;
  font-size: 13px;
  line-height: 2.3;
}
/*# sourceMappingURL=style.css.map */