a {
  color: #007481;
}

input[type=checkbox] {
  margin: 4px 4px 0;
}

.path-frontpage {
  font-family: "Open-Sans", sans-serif;
  margin-top: 0;
}
.path-frontpage .dialog-off-canvas-main-canvas header {
  min-height: 80px;
  border-radius: 0;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 100;
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  position: absolute;
}
@media (max-width: 1200px) {
  .path-frontpage .dialog-off-canvas-main-canvas header .container-fluid .container {
    margin: 0;
    width: 100%;
  }
}
.path-frontpage .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation {
  align-items: center;
  display: flex;
}
.path-frontpage .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation .logo {
  padding: 0;
  margin: 0;
  margin-right: 2em;
}
.path-frontpage .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation .logo img {
  width: 205px;
}
.path-frontpage .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation #block-wolontariat-main-menu .navbar-nav li a {
  color: #000;
  text-transform: uppercase;
  padding: 35px 25px 25px;
  font-size: 14px;
}
@media (max-width: 1200px) {
  .path-frontpage .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation #block-wolontariat-main-menu .navbar-nav li a {
    padding: 15px;
  }
}
.path-frontpage .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation #block-wolontariat-main-menu .navbar-nav li a:active {
  background-color: transparent;
}
.path-frontpage .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation #block-wolontariat-main-menu .navbar-nav li:hover {
  background-color: #e7e7e7;
}
.path-frontpage .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation .search-block-form #search-block-form {
  height: 31px;
  float: right;
}
.path-frontpage .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation .search-block-form #search-block-form .form-item .input-group .form-search {
  width: 144px;
  border-radius: 0;
  visibility: hidden;
}
.path-frontpage .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation .search-block-form #search-block-form .form-item .input-group .input-group-btn .button {
  border-radius: 0;
  background-color: #007481;
}
.path-frontpage .dialog-off-canvas-main-canvas .region-banner .views-element-container .form-group .view-banner .view-content div .flex-control-paging {
  display: none;
}
.path-frontpage .dialog-off-canvas-main-canvas .region-banner .views-element-container .form-group .view-banner .view-content div .flex-direction-nav {
  display: none;
}
.path-frontpage .dialog-off-canvas-main-canvas .main-container {
  margin-bottom: 0px;
  min-height: auto;
}
.path-frontpage .dialog-off-canvas-main-canvas .main-container .region-content .page-header {
  text-align: center;
  padding-bottom: 15px;
  margin: 0px 0 20px !important;
  border-bottom: 4px solid #000;
}
.path-frontpage .dialog-off-canvas-main-canvas .main-container .region-content article {
  display: none;
}
.path-frontpage .dialog-off-canvas-main-canvas .main-container .region-content section {
  width: 30%;
  float: left;
  margin-left: 25px;
}
@media (max-width: 998px) {
  .path-frontpage .dialog-off-canvas-main-canvas .main-container .region-content section {
    width: 100%;
    margin-bottom: 25px;
  }
}
.path-frontpage .dialog-off-canvas-main-canvas .main-container .region-content section .field--name-field-link {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12), 1px 2px 3px rgba(0, 0, 0, 0.24);
  position: relative;
  text-align: center;
  bottom: 77px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 25px 0;
}
.path-frontpage .dialog-off-canvas-main-canvas .main-container .region-content section .field--name-field-link:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.5s all;
}
.path-frontpage .dialog-off-canvas-main-canvas .main-container .region-content section .field--name-field-link a {
  color: #fff;
  font-size: 20px;
  transition: 0.5s all;
}
.path-frontpage .dialog-off-canvas-main-canvas .main-container .region-content section .field--name-field-link a:hover {
  text-decoration: none;
}
.path-frontpage .dialog-off-canvas-main-canvas .main-container .region-content section .field--name-field-image img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1000px) {
  .path-frontpage .dialog-off-canvas-main-canvas .main-container .region-content section .field--name-field-image img {
    height: auto;
    width: 100%;
    -o-object-fit: fill;
       object-fit: fill;
  }
}
.path-frontpage .dialog-off-canvas-main-canvas .main-container .region-content .views-element-container {
  display: none;
}
.path-frontpage .dialog-off-canvas-main-canvas .footer {
  font-size: 13px;
  line-height: 2.3;
  background: #1c2331;
  color: #fff;
  margin-top: 0;
}
.path-frontpage .dialog-off-canvas-main-canvas .footer .container .region-footer {
  display: flex;
}
@media (max-width: 768px) {
  .path-frontpage .dialog-off-canvas-main-canvas .footer .container .region-footer {
    display: block;
  }
}
.path-frontpage .dialog-off-canvas-main-canvas .footer .container .region-footer section {
  width: 33.3%;
}
.path-frontpage .dialog-off-canvas-main-canvas .footer .container .region-footer section h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.path-frontpage .dialog-off-canvas-main-canvas .footer .container .region-footer section h2::after {
  content: "";
  width: 60px;
  display: block;
  background: white;
  margin-top: 10px;
  height: 1px;
}
.path-frontpage .dialog-off-canvas-main-canvas .footer .container .region-footer section .field--type-text-with-summary p {
  margin: 0;
}
.path-frontpage .dialog-off-canvas-main-canvas .footer .container .region-footer nav h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.path-frontpage .dialog-off-canvas-main-canvas .footer .container .region-footer nav h2::after {
  content: "";
  width: 60px;
  display: block;
  background: white;
  margin-top: 10px;
  height: 1px;
}
.path-frontpage .dialog-off-canvas-main-canvas .footer .container .region-footer nav ul > li > a {
  color: #fff;
  padding: 0 15px;
}
@media (max-width: 768px) {
  .path-frontpage .dialog-off-canvas-main-canvas .footer .container .region-footer nav ul > li > a {
    padding: 0;
  }
}
.path-frontpage .dialog-off-canvas-main-canvas .footer .container .region-footer nav ul > li > a:hover {
  text-decoration: underline;
  background-color: transparent;
}
.path-frontpage .dialog-off-canvas-main-canvas .footer-second {
  margin-top: 0;
  border-top: 0;
  padding: 10px;
  background-color: #0e131d;
  text-align: center;
}
.path-frontpage .dialog-off-canvas-main-canvas .footer-second .container .region-footer-second span, .path-frontpage .dialog-off-canvas-main-canvas .footer-second .container .region-footer-second a {
  color: #fff;
  font-size: 13px;
  line-height: 2.3;
}
.path-frontpage .dialog-off-canvas-main-canvas .footer-second .container .region-footer-second .block-copyright-block p {
  color: #fff;
  font-size: 13px;
  line-height: 2.3;
}

body {
  font-family: "Open-Sans", sans-serif;
  margin-top: 0;
}
body .dialog-off-canvas-main-canvas header {
  min-height: 80px;
  border-radius: 0;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 100;
  width: 100%;
  margin-bottom: 0;
  background-color: #f8f8f8;
}
body .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation {
  align-items: center;
  display: flex;
}
body .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation .logo {
  padding: 0;
  margin: 0;
  margin-right: 2em;
}
body .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation .logo img {
  width: 205px;
}
body .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation #block-wolontariat-main-menu .navbar-nav li a {
  color: #000;
  text-transform: uppercase;
  padding: 35px 25px 25px;
  font-size: 14px;
}
@media (max-width: 1200px) {
  body .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation #block-wolontariat-main-menu .navbar-nav li a {
    padding: 15px;
  }
}
body .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation #block-wolontariat-main-menu .navbar-nav li:hover {
  background-color: #e7e7e7;
}
body .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation #block-wolontariat-main-menu .navbar-nav .active a {
  background-color: transparent;
}
body .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation .search-block-form #search-block-form {
  height: 31px;
  float: right;
}
body .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation .search-block-form #search-block-form .form-item .input-group .form-search {
  width: 144px;
  border-radius: 0;
  visibility: hidden;
}
body .dialog-off-canvas-main-canvas header .container-fluid .container .navbar-header .region-navigation .search-block-form #search-block-form .form-item .input-group .input-group-btn .button {
  border-radius: 0;
  background-color: #007481;
}
body .dialog-off-canvas-main-canvas .main-container {
  margin-bottom: 50px;
  min-height: 636px;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .page-header {
  margin: 40px 0 20px;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .views-element-container .view-lista-organizacji .view-header {
  margin: 2em 9em 3em 8em;
  font-size: 16px;
}
@media (max-width: 750px) {
  body .dialog-off-canvas-main-canvas .main-container .row section .region-content .views-element-container .view-lista-organizacji .view-header {
    margin: 2em 0em 3em 0em;
  }
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .views-element-container .view-lista-organizacji .view-content .views-row article {
  display: inline-block;
  width: 100%;
  margin-bottom: 2em;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 1em;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .views-element-container .view-lista-organizacji .view-content .views-row article h2 {
  font-size: 24px;
  margin: 15px 0;
  margin-left: 130px;
  position: absolute;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .views-element-container .view-lista-organizacji .view-content .views-row article h2 a {
  color: #333333;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .views-element-container .view-lista-organizacji .view-content .views-row article .content .field--name-field-www {
  margin-top: 50px;
  position: absolute;
  margin-left: 130px;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .views-element-container .view-lista-organizacji .view-content .views-row article .content .field--name-field-logo {
  float: left;
  margin-right: 2em;
  min-height: 100px;
  min-width: 100px;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .views-element-container .view-lista-organizacji .view-content .views-row article .content .list-inline li {
  padding: 7px 30px;
  font-size: 13px;
  border-radius: 3px;
  margin-top: 75px;
  text-transform: uppercase;
  background: transparent;
  color: #007481;
  white-space: nowrap;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.5px;
  border: 2px solid #007481;
  float: right;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-aktualnosci .view-content .views-row article {
  display: inline-block;
  width: 100%;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 1em;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-aktualnosci .view-content .views-row article .content .list-inline .node-readmore {
  padding: 7px 30px;
  font-size: 13px;
  border-radius: 3px;
  text-transform: uppercase;
  background: transparent;
  color: #007481;
  white-space: nowrap;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.5px;
  border: 2px solid #007481;
  float: right;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-aktualnosci .view-content .views-row article .content .list-inline .comment-add {
  display: none;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-glossary .attachment-before {
  margin: 2em 9em 3em 8em;
  font-size: 16px;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-glossary .view-content .views-row article {
  display: inline-block;
  width: 100%;
  margin-bottom: 2em;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 1em;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-glossary .view-content .views-row article h2 {
  font-size: 24px;
  margin: 10px 0;
  color: #333333;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-glossary .view-content .views-row article .content .field--name-field-www {
  margin-top: 10px;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-glossary .view-content .views-row article .content .field--name-field-logo {
  float: left;
  margin-right: 2em;
  min-height: 100px;
  min-width: 100px;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-glossary .view-content .views-row article .content .list-inline li {
  padding: 7px 30px;
  font-size: 13px;
  border-radius: 3px;
  text-transform: uppercase;
  background: transparent;
  color: #007481;
  white-space: nowrap;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.5px;
  border: 2px solid #007481;
  float: right;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-znajdz_wolontariat {
  display: flex;
}
@media (max-width: 800px) {
  body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-znajdz_wolontariat {
    display: block;
  }
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-znajdz_wolontariat .view-filters {
  margin: 0 30px 0px 0;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-znajdz_wolontariat .view-filters form .form--inline {
  width: 240px;
  padding: 19px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.5);
}
@media (max-width: 800px) {
  body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-znajdz_wolontariat .view-filters form .form--inline {
    width: 100%;
  }
}
@media (max-width: 800px) {
  body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-znajdz_wolontariat .view-filters form .form--inline .form-item {
    float: none;
    width: 100%;
  }
  body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-znajdz_wolontariat .view-filters form .form--inline .form-item .control-label {
    display: block;
  }
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-znajdz_wolontariat .view-filters form .form--inline .form-type-textfield input {
  margin-top: 5px;
  width: 200px;
}
@media (max-width: 800px) {
  body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-znajdz_wolontariat .view-filters form .form--inline .form-type-textfield input {
    width: 100%;
  }
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-znajdz_wolontariat .view-filters form .form--inline fieldset .fieldset-wrapper .form-checkboxes {
  padding: 0.5em 1em 1em 0;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-znajdz_wolontariat .view-filters form .form--inline fieldset .fieldset-wrapper .form-checkboxes .bef-checkboxes .form-item {
  display: block;
  margin-bottom: 5px;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-znajdz_wolontariat .view-filters form .form--inline fieldset legend {
  margin-bottom: 0px;
  border-bottom: 0;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-znajdz_wolontariat .view-content .views-row .views-field-rendered-entity .field-content article {
  margin: 2em;
  padding-bottom: 1em;
  border-bottom: 1px dashed #ccc;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-znajdz_wolontariat .view-content .views-row .views-field-rendered-entity .field-content article h2 {
  font-size: 24px;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-znajdz_wolontariat .view-content .views-row .views-field-rendered-entity .field-content article h2 a {
  color: #333333;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-znajdz_wolontariat .view-content .views-row .views-field-rendered-entity .field-content article .content .field--name-body {
  margin-bottom: 4em;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-znajdz_wolontariat .view-content .views-row .views-field-rendered-entity .field-content article .content ul .node-readmore {
  float: right;
  padding: 7px 30px;
  font-size: 13px;
  border-radius: 3px;
  text-transform: uppercase;
  background: transparent;
  color: #007481;
  white-space: nowrap;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.5px;
  border: 2px solid #007481;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-znajdz_wolontariat .pager-nav {
  position: absolute;
  bottom: -62px;
  left: 50%;
}
@media (max-width: 800px) {
  body .dialog-off-canvas-main-canvas .main-container .row section .region-content .view-id-znajdz_wolontariat .pager-nav {
    position: unset;
    bottom: unset;
    left: unset;
    margin: 0 auto;
  }
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .oferta-wolontariatu .content .field {
  margin-bottom: 1em;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .oferta-wolontariatu .content .field--name-field-data-wydarzenia {
  font-size: 24px;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .oferta-wolontariatu .content .field--name-field-data-wydarzenia .field--label {
  font-weight: normal;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .oferta-wolontariatu .content .field--name-field-data-wydarzenia .field--items {
  display: flex;
  justify-content: space-between;
  width: 46%;
}
body .dialog-off-canvas-main-canvas .main-container .row section .region-content .oferta-wolontariatu .content .field--type-entity-reference {
  display: flex;
}
body .dialog-off-canvas-main-canvas .footer {
  font-size: 13px;
  line-height: 2.3;
  background: #1c2331;
  color: #fff;
  margin-top: 0;
}
body .dialog-off-canvas-main-canvas .footer .container .region-footer {
  display: flex;
}
@media (max-width: 768px) {
  body .dialog-off-canvas-main-canvas .footer .container .region-footer {
    display: block;
  }
}
body .dialog-off-canvas-main-canvas .footer .container .region-footer section {
  width: 33.3%;
}
body .dialog-off-canvas-main-canvas .footer .container .region-footer section h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
body .dialog-off-canvas-main-canvas .footer .container .region-footer section h2::after {
  content: "";
  width: 60px;
  display: block;
  background: white;
  margin-top: 10px;
  height: 1px;
}
body .dialog-off-canvas-main-canvas .footer .container .region-footer section .field--type-text-with-summary p {
  margin: 0;
}
body .dialog-off-canvas-main-canvas .footer .container .region-footer nav h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
body .dialog-off-canvas-main-canvas .footer .container .region-footer nav h2::after {
  content: "";
  width: 60px;
  display: block;
  background: white;
  margin-top: 10px;
  height: 1px;
}
body .dialog-off-canvas-main-canvas .footer .container .region-footer nav ul > li > a {
  color: #fff;
  padding: 0 15px;
}
@media (max-width: 768px) {
  body .dialog-off-canvas-main-canvas .footer .container .region-footer nav ul > li > a {
    padding: 0;
  }
}
body .dialog-off-canvas-main-canvas .footer .container .region-footer nav ul > li > a:hover {
  text-decoration: underline;
  background-color: transparent;
}
body .dialog-off-canvas-main-canvas .footer-second {
  margin-top: 0;
  border-top: 0;
  padding: 10px;
  background-color: #0e131d;
  text-align: center;
}
body .dialog-off-canvas-main-canvas .footer-second .container .region-footer-second span, body .dialog-off-canvas-main-canvas .footer-second .container .region-footer-second a {
  color: #fff;
  font-size: 13px;
  line-height: 2.3;
}
body .dialog-off-canvas-main-canvas .footer-second .container .region-footer-second .block-copyright-block p {
  color: #fff;
  font-size: 13px;
  line-height: 2.3;
}